* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow: hidden; /* Отключаем прокрутку */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.top-info {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333;
    font-size: 0.9em;
    width: auto;
    color: #ffffff;
}

.top-info p {
    margin: 5px 0;
}

.center-info {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333;
    text-align: center;
    width: auto;
    font-size: 0.9em;
}

.game-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-top: 20px;
}

.bottom-buttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

button {
    padding: 10px 5%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 28%;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

#business-status {
    margin-top: 20px;
    font-size: 1em;
    color: lightgreen;
}

@media (max-width: 480px) {
    .top-info, .center-info {
        font-size: 0.8em;
    }

    button {
        padding: 10px 4%;
        font-size: 0.9em;
    }
}
